PORT=3000
BACKEND_BASE_URL=http://localhost:3000
CLIENT_ORIGINS=http://localhost:5173

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
CLIENT_SUCCESS_URL=http://localhost:5173/login/success

JWT_SECRET=
SESSION_SECRET=
MONGODB_URI=
